<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>

</head>
<body>

<center>

    <h1 class="jumbotron">WELCOME TO MY DASHBOARD</h1>

    <h3>We help analyze, tabulate your data</h3>


    <a href="home" class="btn btn-primary">HOME</a> /
    <a href="salaries" class="btn btn-primary">SALARIES</a> /
    <a href="loans" class="btn btn-primary">LOANS</a> /
    <a href="details" class="btn btn-primary">DETAILS</a> /
    <a href="analysis" class="btn btn-primary">ANALYSIS</a> /
    <a href="visual" class="btn btn-primary">VISUAL</a> /
    <a href="about" class="btn btn-primary">ABOUT US</a> /
    <a href="contactus" class="btn btn-primary">CONTACT US</a> /
    <hr>


    <img src="../static/data.jpg" alt="" width="1000">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis enim labore nemo nihil, optio perspiciatis praesentium quo sed voluptas. Autem, consequatur delectus earum inventore maxime quia quos reiciendis temporibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae debitis esse hic ipsam possimus quisquam repellendus. Assumenda deserunt dicta neque nisi non? Asperiores delectus ea, esse officia quam quas!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et illum iure, libero nam, neque obcaecati officiis, pariatur quae quasi quis repudiandae sunt. Iusto similique tempore temporibus? Dicta magnam minima vero.</p>

</center>

</body>
</html>